body {
    background-image: url(assets/technology/background-technology-desktop.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
}

.line {
    border-bottom: 1px solid gray;
    height: 1px;
    width: 35%;
    position: absolute;
    top: 85px;
    left: 230px;
    opacity: 40%;
    z-index: 99;
}

.tip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-top: 40px;
    margin: 0;

}

.stepNum {
    font-weight: bolder;

}

.stepname {
    color: white;

}

.title {
    color: white;
    padding-left: 100px;
}

.steps {
    display: flex;
    justify-content: space-evenly;
    width: 40%;

    /* slightly more transparent */
    backdrop-filter: blur(100px);
    /* adds the blur effect */
    -webkit-backdrop-filter: blur(100px);
    /* for Safari support */
    /* optional: gives a polished look */
    padding: 20px;
    /* padding-left: 40px; */
    padding-right: 300px;
}

.main {
    display: flex;
    align-items: center;
    color: white;
    gap: 300px;
    width: 55%;
    padding-left: 100px;
    height: 70vh;
}

.name {
    font-size: 90px;
    margin: 0;
}

.bio {
    width: 500px;
    font-size: 25px;
    opacity: 60%;
}

.mainimg {
    position: absolute;
    right: 0px;
    bottom: 150px;
    transition: all 0.2s ease-in-out;
    width: 33%;
}

.circle {
    padding: 40px;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    opacity: 80%;
    font-size: 40px;
}

.circle:hover {
    cursor: pointer;
}

.selected {
    background-color: white;
    opacity: 1;
    color: black;
}

.capsule {
    opacity: 0;
    position: absolute;
    right: -100px;
    bottom: 150px;
    transition: all 0.2s ease-in-out;
    width: 33%;
}

.port {
    opacity: 0;
    position: absolute;
    right: -100px;
    bottom: 150px;
    transition: all 0.2s ease-in-out;
    width: 33%;
}